* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-auto-80 {
    width: 80%;
    margin: auto;
}

.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.card-one {
    margin: 1.2%;
    min-width: 30%;
    /* max-width: 30%;
    min-width: 336px;*/
    max-height: 100px;
    background-color: #0f0e17;

}

.card-two {
    width: 48%;
    margin: 1%;
    height: 300px;
    background-color: #0f0e17;
}

.name {
    text-transform: uppercase;
    font-size: medium;
}

.role {
    font-size: small;
}

.azure-text {
    color: #00a9f4;
}

.img-card-one {
    width: 100px;
}

.img-card-two {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

h1 {
    color: #e53170;
}

.fredoka-400 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.fredoka-500 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.fredoka-600 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.section-margin {
    margin-top: 40px
}

.item-margin {
    margin-top: 2.5%;
}

.white-text {
    color: #fff;
}

.contact {
    text-decoration: none;
}