* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-auto-80 {
    width: 80%;
    margin: auto;
}

.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.center-text {
    text-align: center;
}

div div {
    background-color: brown;
    margin: 1.2%;
    min-width: 30%;
    max-height: 100px;
}

img {
    width: 100px;
}

.section-margin {
    margin-top: 40px
}